@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile&display=swap');

body{
    background-color: rgb(245, 245, 245);    
}
.navbar{
    background-color: white;
    box-shadow: 0 2px 4px 0 orange;
}
.navbar-brand{
    color: black;
    font-size: 30px;
    font-family: 'Antic', sans-serif;
}
.navbar-brand:hover{
    color: #efb810;
    font-family: 'Antic', sans-serif;
    font-weight: bolder;
}

.navbar-toggler{
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}
.nav-item{
    color: black;
    font-size: 20px;
    font-family: 'Antic', sans-serif;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: #efb810;
    font-weight: bolder;
}
.dropdown-item:hover{
    color: #efb810;
    font-weight: bolder;
}
.nav-item
.text-underlined{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
}  
.text-underlined::before, 
.text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
}  
.text-underlined::before{
    left: 50%;
    transform: translateX(-50%); 
}  
.text-underlined::after{
    right: 50%;
    transform: translateX(50%); 
}  
.text-underlined:hover::before, 
.text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
}
.container{
    margin: 2%;
}
h1{
    color: grey;
    font-family: 'Antic', sans-serif;
    margin-left: 1%;
    text-transform: uppercase;
} 
p{
    color: black;
    font-family: 'Antic', sans-serif;
}
.card-img-top{
    padding: 5% 2%;
}

.infoProducto{
    padding-top: 2%;
    padding-bottom: 2%;
}
table,td,th{
    padding: 5px;
    margin-left: 10px;
    text-align: center;
}

#bannerInicio {
    background-image: url("https://images.pexels.com/photos/934070/pexels-photo-934070.jpeg?cs=srgb&dl=pexels-ylanite-koppens-934070.jpg&fm=jpg");
    background-size: cover;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  
#bannerInicio .subtituloMain{
    position: relative;
    padding-left: 10%;
    width: 35%;
    color: black;
    font-family: 'Nobile', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    opacity: 90%;
}

#bannerNovedades {
    background-image: url("https://s3.scoopwhoop.com/anj/winter/147265037.jpg");
    background-size: cover;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  
#bannerNovedades #subtitulo{
    position: relative;
    padding-left: 10%;
    width: 35%;
    color: #efb810;
    text-shadow: 2px 2px black;
    font-family: 'Nobile', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    opacity: 90%;
}

#bannerPartesArriba {
    background-image: url("http://img-cdn.jg.jugem.jp/930/1402137/20180629_2749223.jpg");
    background-size: cover;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  
#bannerPartesArriba #subtitulo{
    position: relative;
    padding-left: 10%;
    width: 35%;
    color: #efb810;
    text-shadow: 2px 2px black;
    font-family: 'Nobile', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    opacity: 90%;
}

#bannerPantalones {
    background-image: url("http://tennis.vteximg.com.br/arquivos/03-banner-jeans-hombre-tennis.jpg");
    background-size: cover;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  
#bannerPantalones #subtitulo{
    position: relative;
    padding-left: 10%;
    width: 35%;
    color: #efb810;
    text-shadow: 2px 2px black;
    font-family: 'Nobile', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    opacity: 90%;
}

#bannerZapatilla {
    background-image: url("https://i.pinimg.com/originals/25/b3/b0/25b3b0e01c8b53c47e341dc78b6ffa3b.jpg");
    background-size: cover;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  
#bannerZapatilla #subtitulo{
    position: relative;
    padding-left: 10%;
    width: 35%;
    color: #efb810;
    text-shadow: 2px 2px black;
    font-family: 'Nobile', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    opacity: 90%;
}

#contactoBody{
    background-color: rgb(224, 222, 222);
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
input[type=submit] {
    background-color:#efb810;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color:#d6a100;
}
input[type]:hover, select:hover, textarea:hover {
    border-color: #efb810;
}
form{
    background-color: white; 
    padding: 2%;
    border-radius: 25px;
}
label.error{
    color: #efb810;
    background-color: white;
    margin-left: 0px;
    font-size: 1rem;
    font-size: 14px;
    display: block;
    font-family: 'Antic', sans-serif;
    width: 1000px;
    padding: 0%;
}
label{
    background-color: #efb810;
    border-radius: 5px;
	color: white;
	font-family: 'Nobile', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 14px 0 10px 49px;
	letter-spacing: 1px;
	margin-left: -45px;
	width: 330px;
}
input, select, textArea{
    font-family: 'Antic', sans-serif;
}
#loginBody{
    background-color: rgb(224, 222, 222);
}
.login-card {
    border-radius: 27.5px;
    box-shadow: 10px 10px 10px 10px rgb(192, 192, 192);
}
.brand-wrapper h1{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-left: 20px;
}
.login-card-description {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 22px 0 0 22px;
    object-fit: cover;
}
.login-card .login-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    background-color: #efb810;
    border-radius: 12px;
    font-weight: bold;
    color: #fff;
}
.login-card .login-btn:hover {
    border: 1px solid  #efb810;
    background-color: #ffe6a1;
    color: #000;
}
.login-card-footer-text{
    margin-left: 22px;
}

.copyright{
    text-align: center;
    background-color: #be9004;
    padding: 2px 2px;

}
.socialIcons{
    text-align: center;
}
.copyright p{
    color: white;
    font-size: 18px;
}
.footerlist{
    color:black;
}
.footerlist:hover{
    color:white;
}
footer{
    background-color: #eebd29;
}
#subtituloBlog{
    padding-top: 40px;
    padding-bottom: 30px;
    color: black;
    font-family: 'Antic', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#subtitulo{
    padding-top: 40px;
    padding-bottom: 30px;
    color:#efb810;
    text-shadow: 2px 2px black;
    font-family: 'Nobile', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#subtitulo2{
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: 25px;
    font-size: 40px;
    font-family: 'Nobile', sans-serif;
    text-align: left;
}

#slideTexto{
    font-size: 25px;
    background-color: rgb(236, 236, 236);
    color: black;
    text-align: center;
    padding: 2% 2%;
}
.product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 1px solid #e7e7e7;
}
.product-grid .product-image{ position: relative; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}
.product-grid .product-image:hover img{ transform: translate(10px,-10px); }
.product-grid .product-sale-label{
    color: #fff;
    background: #1abc9c;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 35px;
    width: 55px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    animation: bg-animate 5s infinite linear;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    left: 20px;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links{ opacity: 1; }
.product-grid .product-links li{
    margin: 0 0 5px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links li:nth-child(2){ transition: all 0.3s ease 0.15s; }
.product-grid:hover .product-links li{
    opacity: 1;
    transform: translateX(0);
}
.product-grid .product-links li a{
    color: #fff;
    background-color: #00b894;
    font-size: 14px;
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
    padding: 8px 10px;
    display: block;
    opacity: 0.9;
    transition: all 0.3s ease 0s;
    animation: bg-animate 5s infinite linear;
}
.product-grid .product-links li a:hover{
    color: #fff;
    box-shadow: 0 0 0 3px #fff inset;
    opacity: 1;
}
.product-grid .product-links li a i{ margin: 0 5px 0 0; }
.product-grid .product-content{ padding: 15px 0 5px; }
.product-grid .title{
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 10px 14px;
    margin: 0 0 7px;
    border-bottom: 1px solid #dfe5e9;
}
.product-grid .title a{
    color: #000;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ animation: color-animate 5s infinite linear; }
.product-grid .price{
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.product-grid .price span{
    color: #999;
    text-decoration: line-through;
    margin: 0 3px 0 0;
}


@keyframes color-animate{
    0%{ color: #ffcd35; }
    20%{ color: #efb810; }
    40%{ color: #c29612; }
    60%{ color: #ae8711; }
    80%{ color: #87690f; }
    100%{ color: #6a530c; }
}

@keyframes bg-animate{
    0%{ background-color: #ffcd35; }
    20%{ background-color: #efb810; }
    40%{ background-color: #c29612; }
    60%{ background-color: #ae8711; }
    80%{ background-color: #87690f; }
    100%{ background-color: #6a530c; }
}

@media screen and (max-width:1200px){
    .product-grid{ margin: 0 0 30px; }
}

.card-deck{
margin-left: 20px;
margin-right: 20px;
}